.bodycontainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.box1 {
    background-color: violet;
    text-align: center;
}

.box2 {
    background-color: blue;
    text-align: center;
}

.box3 {
    background-color: greenyellow;
    text-align: center;
}

